.citation-card {
    padding: 32px;
    background-color: transparent;
    border: 2px solid #D8C3A5;
    border-radius: 5px;
    margin-bottom: 16px;
}

.citation-text {
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 0;
    color: #383838;
}

.citation-details {
    display: flex;
    gap: 24px;
    font-size: 20px;
    color: #383838;
}

.citation-details span {
    display: inline-block;
}

.hero,
.book,
.author {
    color: #383838;
}

.citation-link {
    text-decoration: none;
    color: inherit;
}

.citation-link:hover {
    text-decoration: underline;
    color: #000000;
}