.details-author-card {
    padding: 32px;
    background-color: transparent;
    border: 2px solid #D8C3A5;
    border-radius: 5px;
    margin-bottom: 16px;
}

.details-author-text {
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 0;
    color: #383838;
}

.details-author-details {
    display: flex;
    gap: 8px;
    font-size: 20px;
    color: #383838;
    flex-direction: column;
}

.details-author-details span {
    display: inline-block;
}

.books-container {
    display: flex;
    align-items: flex-start;
}

.count,
.book-list {
    color: #383838;
    margin-left: 16px;
}

.author-link {
    text-decoration: none;
    color: inherit;
}

.author-link:hover {
    text-decoration: underline;
    color: #000000;
}
