.details-hero-card {
    padding: 32px;
    background-color: transparent;
    border: 2px solid #D8C3A5;
    border-radius: 5px;
    margin-bottom: 16px;
}

.details-hero-text {
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 0;
    color: #383838;
}

.details-hero-details {
    display: flex;
    gap: 8px;
    font-size: 20px;
    color: #383838;
    flex-direction: column;
}

.details-hero-details span {
    display: inline-block;
}

.hero-d,
.book-d,
.author-d,
.book_year-d {
    color: #383838;
    margin-left: 8px;
}

.hero-link {
    text-decoration: none;
    color: inherit;
}

.hero-link {
    text-decoration: underline;
    color: #000000;
}
