.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid #E98074;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 32px;
}

.search-icon {
    color: #E98074;
    margin-right: 16px;
    margin-left: 12px;
}

.search-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    color: #E98074;
    background-color: transparent;
    padding-right: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.search-input::placeholder {
    color: #E98074;
}