.sidebar h3 {
    font-size: 20px;
    font-weight: bold;
    color: #E85A4F;
    margin-bottom: 10px;
}

.filter {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.filter input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #E85A4F;
    border-radius: 2px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.filter input[type="checkbox"]:checked {
    background-color: #E98074;
    border: 2px solid #E85A4F;
}

.filter input[type="checkbox"]:checked::after {
    content: "✔";
    color: white;
    font-size: 14px;
    position: absolute;
    top: -2px;
    left: 2px;
}

.filter label {
    font-size: 16px;
    cursor: pointer;
}

/* Ссылка для показа всех элементов */
.show-all {
    display: flex;
    align-items: center;
    color: #d97a63;
    font-size: 0.9em;
    text-decoration: underline;
    cursor: pointer;
}

.show-all::before {
    content: "+";
    margin-right: 5px;
    color: #d97a63;
}